body {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

/* Header Style */
header {
  background-color: #1d2129;
  color: white;
}

.header-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #1d2129;
  color: white;
  width: 100%;
}

.logo img {
  height: 70px;
}

.search-input {
  width: 100%;
  max-width: 300px;
  height: 40px;
  border-radius: 7px;
  border: none;
  padding: 0 10px;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 0.9rem;
  font-weight: 600;
  flex-wrap: wrap;
}

.user-actions i {
  font-size: 18px;
  cursor: pointer;
  position: relative;
}

.user-actions i .badge {
  position: absolute;
  top: -6px;
  right: -10px;
  font-size: 10px;
  background: white;
  color: black;
  border-radius: 50%;
  padding: 0 4px;
}

/*  Product List Style  */
.main-container{
  margin-top: 100px;
  min-height: calc(100vh - 100px - 400px); /* Header ve footer yüksekliğini hesaba katarak minimum yükseklik belirliyoruz */
  flex: 1;
}

.product-image {
  width: 150px;
  height: 160px;
  position: relative;
}

.product-image img {
  width: 150px;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: cover;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.product-category-icon {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 13px;
  right: 2px;
  z-index: 4;
  background-color:#ffffff21;
}

.product-category-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card-hover {
  width: 150px;
  height: 160px;
  position: absolute;
  inset: 0;
  background:linear-gradient(206deg, rgb(0 0 0 / 25%), rgb(112 112 112 / 50%));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  padding: 2px;
  top: 0;
  left: 0;
  z-index:3;
}

.product-card:hover .product-card-hover {
  opacity: 1;
}

.product-card-hover h4 {
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding:0 4px;
}

.rating {
  font-size: 12px;
  text-align: center;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding:0 4px;
}

.detail-view-button,
.add-to-cart-button {
  padding: 6px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-size: 12px;
}

.detail-view-button{
    background-color: #3575e2;
}

.add-to-cart-button {
  background-color: #42b72a;
}

.product-price-container {
  width: 150px;
  height: 60px;
  background-color: transparent;
  align-content: center;
  background-color: #212630 ;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.product-price-container h3 {
  text-align: center;
  font-size: 16px;
  color: white;
  margin: 0;
}

/* Pagination Style */
.pagination-controls {
  margin-top: 20px;
}

.page-link {
  color: #1d2129;
}

.page-item.active .page-link {
  background-color: #1d2129;
  border-color: #1d2129;
}

.page-link:focus {
  box-shadow: 0 0 0 0.25rem rgba(29, 33, 41, 0.25);
}


@media screen and (max-width: 350px) {
  .pagination-container {
    flex-direction: column !important;
  }

  .pagination-container select {
    margin-top: 1rem;
  }
}

/* Footer Style */
footer {
  margin-top: auto;
  width: 100%;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
  background-color: #1d2129;
}

footer .container {
  width: 100%;
  max-width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

footer ul li {
  margin-bottom: 8px;
}

footer ul li a:hover {
  color: white !important;
  transition: color 0.3s ease;
}

.copyright-text {
  font-size: 14px;
  color: white;
  text-align: center;
  width: 100%;
  align-self: center;
  margin-bottom: 0;
  padding: 10px 0 10px 0;
  background-color: #1d2129;
}
